<template name="about">

  <div id="ww">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            {{> me}}
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /ww -->

  <div class="container pt">

      <div class="col-lg-6">
        <h4>MY SKILLS</h4>
        PHP, 5, 7+
        <div class="progress">
          <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span class="sr-only">100% Complete</span>
          </div>
        </div>

        JAVASCRIPT
        <div class="progress">
          <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="90" style="width: 90%;">
            <span class="sr-only">90% Complete</span>
          </div>
        </div>

        CSS3, HTML5
        <div class="progress">
          <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95" style="width: 95%;">
            <span class="sr-only">95% Complete</span>
          </div>
        </div>

        C++
        <div class="progress">
          <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>

        JAVA
        <div class="progress">
          <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
            <span class="sr-only">70% Complete</span>
          </div>
        </div>

        PYTHON, DJANGO
        <div class="progress">
          <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
            <span class="sr-only">55% Complete</span>
          </div>
        </div>

        PYTHON, DJANGO
        <div class="progress">
          <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
            <span class="sr-only">55% Complete</span>
          </div>
        </div>

        MYSQL, SQL
        <div class="progress">
          <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
            <span class="sr-only">75% Complete</span>
          </div>
        </div>

      </div><!-- /col-lg-6 -->
  </div><!-- /container -->

</template>
