<template name="blog">
 {{#each posts}}
	<div id="grey">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="{{authorImage}}" class="avatar">
					<ba>Pierre-Henry Soria</ba></p>
					<p><bd>{{formatDate updatedAt}}</bd></p>
					<h4>{{tite}}</h4>
					<p>{{body}}</p>
					<p><a href="/blog/post/{{_id}}">Continue Reading...</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /grey -->
	{{else}}
		<p class="centered">No posts found</p>
	{{/each}}
</template>
