<template name="contact">
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-md-offset-3 centered">
				<h3>CONTACT ME ;-)</h3>
				<hr>
				<p>Youg, passionate and dynamic programmer software engineer who love spending his weekend for learning new things and create new web apps, software, etc.</p>
				<p>Want to contact me...? Shoot an email to <a href="mailto:phs@hizup.net">phs [AT] hizup [D0T] net</a>.</p>
				<p>I'm already happy to hear from you! Thanks :D</p>
				<p><a href="http://01script.com" title="My Personal Blog"><img src="{{authorImage}}" alt="Pierre-Henry Soria" class="author-img"></a></p>
			</div>
		</div>
	</div><!-- /container -->
</template>
