<template name="footer">
  <div id="footer">
    <div class="container centered">
      <div class="row">
        <div class="col-sm-6">
          <h4>My Bunker</h4>
          <p>Manchester, UK</p>
        </div><!-- /col-md-6 -->

        <div class="col-sm-6">
          <h4>My Networks</h4>
          <ul>
            <li><a href="https://github.com/pH-7">Github</a></li>
            <li><a href="https://linkedin.com/in/ph7enry">Linkedin</a></li>
            <li><a href="http://about.ph7.me">About.pH7.me</a></li>
            <li><a href="https://twitter.com/phenrysay">Twitter</a></li>
            <li><a href="https://sourceforge.net/u/poh7/profile/">Sourceforge</a></li>
            <li><a href="https://500px.com/phy">500px</a></li>
          </ul>
      </div><!-- /col-md-6 -->
      </div>
    </div>
  </div>
</template>
