<template name="home">
    <div id="ww">
        <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <img src="{{authorImage}}" alt="Pierre-Henry Soria">
            <h1>Hi, I'm Pierre-Henry Soria!</h1>
            <p>I am a software developer, programming in several languages.</p>
            <p>Create great software, websites and apps is really a passtion for me and just love doing the best software giving the best values</p>
            <p>Always want to do my best and with best practices and clean code!</p>
            <p>Love also the business world, growth hacking and Web Marketing (but not the old-fashion one!).</p>
            <p>Always thirsty to learn and undertake new exciting things and challenges.</p>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /ww -->
  {{> work}}
</template>
