<template name="project">

	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>PROJECT NAME</h3>
				<hr>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
			</div>
		</div>
		<div class="row mt centered">
			<div class="col-lg-8 col-lg-offset-2">
				<p><img class="img-responsive" src="assets/img/portfolio/1.jpg" alt=""></p>
				<p><img class="img-responsive" src="assets/img/portfolio/2.jpg" alt=""></p>
				<p><img class="img-responsive" src="assets/img/portfolio/3.jpg" alt=""></p>
				<p><bt>Client: <a href="#">BlackTie.co</a></bt> - <bt>Type: <a href="#">Illustration</a></bt> - <bt>Date: <a href="#">January 2014</a></bt></p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->

</template>
