<template name="project">
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>{{name}}</h3>
				<hr>
				<p>{{description}}</p>
			</div>
		</div>
		<div class="row mt centered">
			<div class="col-lg-8 col-lg-offset-2">
				<p><img class="img-responsive" src="{{projectImage}}" alt="{{name}}"></p>
				<p><bt>Client: {{client}}</bt> - <bt>Type: {{type}}</bt> - <bt>Date: {{formatDate projectDate}}</bt></p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</template>
