<template name="edit_post">
    <div class="container pt">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Edit Post: {{title}}</h2>
                <form class="edit_post_form">
                    <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" id="title" name="title" value="{{title}}">
                        </div>
                        <div class="form-group">
                            <label>Body</label>
                            <textarea class="form-control" id="body" name="body" rows="10">{{body}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/admin/posts" class="btn btn-default">Go Back</a>
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</template>
